1                       24      MOVEABLE PURE   "xvb.exe.manifest"
CPE.xc                  CUSTOM  DISCARDABLE     "D:/ADPVODA/XVB/CPE.xc"
LIB.xc                  CUSTOM  DISCARDABLE     "D:/ADPVODA/XVB/LIB.xc"
zlib.dll                CUSTOM  DISCARDABLE     "D:/ADPVODA/XVB/zlib.dll"
xvb.gif           CUSTOM  DISCARDABLE     "D:/ADPVODA/XVB/RC/xvb.gif"
xTemplate.dlg           CUSTOM  DISCARDABLE     "D:/ADPVODA/XVB/RC/xTemplate.dlg"
//AAA                     ICON    MOVEABLE PRELOAD "vb32.ico"
